AUTH_API_HTTP_PORTS=x:x
AUTH_API_HTTPS_PORTS=x:x

USER_API_HTTP_PORTS=x:x
USER_API_HTTPS_PORTS=x:x

AUTH_DB_PORTS=x:5432
AUTH_DB_DATABASE=x
AUTH_DB_USER=x
AUTH_DB_PASSWORD=x

USER_DB_PORTS=x:5432
USER_DB_DATABASE=x
USER_DB_USER=x
USER_DB_PASSWORD=x

LOGS_DB_PORTS=x:5432
LOGS_DB_DATABASE=x
LOGS_DB_USER=x
LOGS_DB_PASSWORD=x

PGADMIN_EMAIL=x
PGADMIN_PASSWORD=x
PGADMIN_PORTS=x:80

REDIS_PORTS=x:6379

SEQ_SERVER_PORTS=x:5341
SEQ_DASHBOARD_PORTS=x:81